body {
    background: url("../Images/backgroundSite.jpg") center fixed no-repeat;;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    font-family: 'Shadows Into Light';
    font-size: 62.50%;

}

html {
    cursor: url("../Images/cursor2.png"), auto;

}

#header {
    background: gray;

    border: 2px solid black;
    border-radius: .7em;
    background-image: url("../Images/manos.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

li {
    text-decoration: none;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0 1rem;
    list-style: none;
    position: relative;
    display: inline-table;
    margin-left: 4%;
    font-family: 'Shadows Into Light';
    font-size: 180%;
    font-weight: bold;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);

}

li:hover {
    border-radius: 16%;
    opacity: 1;
}

nav {
    border: 2px solid gray;
    padding-bottom: 1%;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
}

.buttonLink {
    text-decoration: none;
    color: #9d1b2b;
}

.buttonLink:hover {
    background-color: #9d1b2b;
    border-radius: 15%;
    color: black;
    border: 2px solid white;

}
#about_container{
    font-size: 1.9rem;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: white;
    display: inline-block;
}
#about {
    float: right;
    margin-left: 52%;
}
h2  {
    text-align: center;
}
img{
    width: 45%;
    height: 45%;
    margin-top: -17%;

}
#info{
    float:right;
}
