html, body, title, nav, div, li, ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {

    cursor: url("../Images/cursor2.png"), auto;
}

body {
    background: url("../Images/backgroundSite.jpg") center fixed no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    background: gray;
    border: 2px solid black;
}

nav {
    border: 2px solid gray;
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
}

.menu {
    height: 2rem;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

nav li > a {
    text-align: center;
    float: left;
    display: block;
}

.buttonLink {
    color: #9d1b2b;
    margin-left: 3%;
    width: 10rem;
}

.buttonLink:hover {
    border-radius: 8px;
    cursor: url("../Images/cursor2.png"), auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1.5s;
    border-radius: 40px;
}

#aboutContainer {
    font-size: 1.9rem;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: white;
    margin-top: 1%;
    border: 2px solid gray;
    background-color: rgba(211, 211, 211, 0.9);
    border-radius: 5px;
    height: auto;
}

span {
    width: 40%;
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
    vertical-align: top;
    color: black;
    font-weight: bold;
    font-size: 3rem;

}

footer {
    color: white;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
}
a {
    cursor: url("../Images/cursor2.png"), auto;
}


@media screen and (min-width: 0px) and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 10rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }
        
    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 1.8rem;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 1.3rem;

    }

    #img {
        width: 20%;
        height: 20%;
        display: inline-block;
        margin-left: 5%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.2rem;
    }

    #info p {
        font-size: 1.5rem;
    }
    #img{
        display: block;
        width: 90%;
    }
    div>span{
        display: block;
        width: auto;
        margin-left: 4%;
        margin-right: 4%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 12rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 2rem;
    }

    #img {
        width: 25%;
        height: 25%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 1.5rem;

    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem;
    }

    #info p {
        font-size: 1.7rem;
    }
    #img{
        display: block;
        width: 90%;
    }
    div>span{
        display: block;
        width: auto;
        margin-left: 4%;
        margin-right: 4%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }

}

@media screen and (min-width: 481px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 13rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 2rem;
    }

    #img {
        width: 25%;
        height: 25%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 1.5rem;

    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #info p {
        font-size: 1.8rem;
    }
    #img{
        display: block;
        width: 90%;
    }
    div>span{
        display: block;
        width: auto;
        margin-left: 4%;
        margin-right: 4%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
        padding-top: 2%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 2rem;
    }

    #img {
        width: 28%;
        height: 28%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 1.5rem;

    }

    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.4rem;
    }

    .menu a#big {
        width: 30%;
    }

    #info p {
        font-size: 1.8rem;
    }
    #img{
        display: block;
        width: 90%;
    }
    div>span{
        display: block;
        width: auto;
        margin-left: 4%;
        margin-right: 4%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 2rem;
    }

    #img {
        width: 28%;
        height: 28%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 1.5rem;

    }

    nav {
        width: 100%;
        padding-top: 2%;
    }

    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    .menu a#big {
        width: 30%;
    }

    #info p {
        font-size: 2rem;
    }
    #img{
        display: block;
        width: 90%;
    }
    div>span{
        display: block;
        width: auto;
        margin-left: 4%;
        margin-right: 4%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 2.8rem;
    }

    #img {
        width: 50%;
        height: 50%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 2.2rem;

    }

    nav {
        width: 100%;
        padding-top: 2%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #info p {
        font-size: 2rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 2.8rem;
    }

    #img {
        width: 50%;
        height: 50%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 2.2rem;

    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }

    #info p {
        font-size: 2rem;
    }
    footer{
        margin-top: 3%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 2.8rem;
    }

    #img {
        width: 50%;
        height: 50%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 2.6rem;

    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }

    #info p {
        font-size: 2.3rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2rem;
        width: 100%;
        vertical-align: middle;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    h1 {
        text-align: center;
        color: #9d1b2b;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        font-size: 3rem;
    }

    #img {
        width: 45%;
        height: 45%;
        display: inline-block;
        margin-left: 5%;
    }

    span {
        width: 40%;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        vertical-align: top;
        color: black;
        font-weight: bold;
        font-size: 2.8rem;

    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #info p {
        font-size: 2rem;
    }

    footer {
        font-size: 1.5rem;
        margin-top: 6.5%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}