html, body, title, nav, div, li, ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {

    cursor: url("../Images/cursor2.png"), auto;
}

body {
    background: url("../Images/backgroundSite.jpg") center fixed no-repeat;;
    -webkit-background-size: 100% 100%;

}

#header {
    background: gray;
    border: 2px solid black;
}
label{
    font-size: 1.3rem;
}
nav {
    border: 2px solid gray;
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
}
.menu {
    height: 2rem;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
nav li > a {
    text-align: center;
    float: left;
    display: block;
}

.buttonLink {
    color: #9d1b2b;
    margin-left: 3%;
    width: 10rem;
}

.buttonLink:hover {
    border-radius: 8px;
    cursor: url("../Images/cursor2.png"), auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.section {
    clear: both;
}

.contact_info {
    margin-left: 8%;
}

.contact {
    margin-top: 1%;
    border: 2px solid gray;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 5px;
    height: auto;
}

.col {
    display: inline-block;
    margin: 1% 0 1% 1.6%;
}
.col:first-child {
    margin-left:0;
}
.span_2_of_3 {
    width: 55.1%;

}
.span_1_of_3 {
    width: 29.2%;

}
.span_2_of_3  h3,
.span_1_of_3  h3 {
    font-size: 2rem;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}


.contact-form span{
    display:block;
    font-size: 1.2rem;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: black;
    font-weight: bold;
}
.contact-form input[type="text"],.contact-form textarea{
    padding:1%;
    display:block;
    width:98%;
    outline:none;
    color: #9d1b2b;
    font-size:1.2em;
    font-weight: bold;
    border: 1px solid rgba(192, 192, 192, 0.41);
    -webkit-appearance:none;
}

    ::-webkit-input-placeholder {
        color: #9d1b2b;
    }
    :-moz-placeholder {
       color: #9d1b2b;
       opacity:  1;
    }
    ::-moz-placeholder {
       color: #9d1b2b;
       opacity:  1;
    }
    :-ms-input-placeholder {
       color: #9d1b2b;
    }

.contact-form textarea{
        resize:none;
}
.contact-form input[type="submit"]{
    color: #FFF;
    font-size: 0.875em;
    text-transform: uppercase;
    padding: 0.8em 1em;
    border: 1px solid #EEE;
    display: inline-block;
    background: gray;
    border:none;
    outline: none;
    cursor:pointer;

}
.contact-form input[type="submit"]:hover{
    background: #363638;
    color: red;
    cursor: url("../Images/cursor2.png"), auto;
    font-weight: bold;
}
.contact-form input[type="submit"]:active{
    background: #363638;
    color: #FFF;
}
.company_address{
    margin-left: 8%;
}
.company_address p{
    font-size: 1.5rem;
    text-shadow: 7px 5px 3px rgba(255, 76, 122, 1);
    color: black;
    font-weight: bold;
}

.company_address p span{
    text-decoration:underline;
    font-size: 1.2rem;
    text-shadow: 7px 5px 3px rgba(255, 76, 122, 1);
    color: black;
    font-weight: bold;
    cursor:pointer, auto;
}
body > div > div > div > div > div.col.span_2_of_3{
    margin-left: 5%;
}
body > div > div > div > div > div.col.span_2_of_3 > div > form > div:nth-child(5){

    margin-top: 1%;
}


footer {
    color: white;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
}

a {
    cursor: url("../Images/cursor2.png"), auto;
}

/***** Media Quries *****/
@media screen and (min-width: 0px) and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 10rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.2rem;
    }
    #info p {
        font-size: 1.5rem;
    }
    .span_1_of_3 {
        width: 93.2%;
    }

    .span_1_of_3 h3 {
       text-align: center;
    }
    .span_2_of_3 {
        width: 88%;
    }
    body > div > div > div > div > div.col.span_2_of_3 > div > form > div:nth-child(5){
        margin-left: 35%;
        margin-top: 5%;
    }
    .company_address p{
        text-align: center;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 12rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem;
    }
    #info p {
        font-size: 1.7rem;
    }
    .span_1_of_3 {
        width: 93.2%;
    }

    .span_1_of_3 h3 {
        text-align: center;
    }
    .span_2_of_3 {
        width: 88%;
    }
    body > div > div > div > div > div.col.span_2_of_3 > div > form > div:nth-child(5){
        margin-left: 35%;
        margin-top: 5%;
    }
    .company_address p{
        text-align: center;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 13rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 1.8rem;
    }
    .span_1_of_3 {
        width: 93.2%;
    }

    .span_1_of_3 h3 {
        text-align: center;
    }
    .span_2_of_3 {
        width: 88%;
    }
    body > div > div > div > div > div.col.span_2_of_3 > div > form > div:nth-child(5){
        margin-left: 35%;
        margin-top: 5%;
    }
    .company_address p{
        text-align: center;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.4rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 1.8rem;
    }

    .span_1_of_3 {
        width: 93.2%;
    }

    .span_1_of_3 h3 {
        text-align: center;
    }
    .span_2_of_3 {
        width: 88%;
    }
    body > div > div > div > div > div.col.span_2_of_3 > div > form > div:nth-child(5){
        margin-left: 35%;
        margin-top: 5%;
    }
    .company_address p{
        text-align: center;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 2rem;
    }

    .span_1_of_3 {
        width: 93.2%;
    }

    .span_1_of_3 h3 {
        text-align: center;
    }
    .span_2_of_3 {
        width: 88%;
    }
    body > div > div > div > div > div.col.span_2_of_3 > div > form > div:nth-child(5){
        margin-left: 35%;
        margin-top: 5%;
    }
    .company_address p{
        text-align: center;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 2rem;
    }
    
    footer {
        font-size: 1.5rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 2rem;
    }
    footer {
        font-size: 1.5rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 2.3rem;
    }
    footer {
        font-size: 1.5rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2rem;
        width: 100%;
        vertical-align: middle;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #info p {
        font-size: 2rem;
    }

    footer {
        font-size: 1.5rem;
        margin-top: 10.6%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}