body {
    background: url("../Images/graveyard-hd-wallpaper-5.jpg") center fixed no-repeat;;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

*{
    cursor: url("../Images/2.png"), auto;
    /*cursor: crosshair;*/
    /*cursor: url(images/cursor.png) ,pointer;*/
}

header{
    height: 70px;
    width: auto;
    background-color: purple;
    margin: -10px -8px 0px -8px;
    padding: 15px;
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
}
#Icon {
    margin-bottom: 10px;
    margin-left: 30px;
    float: left;
}
#ButtonBar {
    margin: 50px 50px 10px 50px;
    float: right;
}
.Buttons {
    padding: 4px;
    display: inline;
    float: none;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
    background-color: #708F65;
    font-weight: bold;
    text-transform: uppercase;
}
