body {
    background: url("../Images/graveyard-hd-wallpaper-5.jpg") center fixed no-repeat;;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

* {
    cursor: url("../Images/cursor2.png"), auto;
    /*cursor: crosshair;*/
    /*cursor: url(images/cursor.png) ,pointer;*/
}

#header {
    background: gray;

    border: 2px solid black;
    border-radius: .7em;
    background-image: url("../Images/manos.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

li {
    text-decoration: none;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0 1rem;
    list-style: none;
    position: relative;
    display: inline-table;
    margin-left: 4%;
    font-family: 'Shadows Into Light';
    font-size: 180%;
    font-weight: bold;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);



}

nav {

    border: 2px solid gray;
    padding-bottom: 1%;
    border-radius: 5px;
    background-color: lightgray;
    opacity: .7;



}

.buttonLink {
    text-decoration: none;
    color: #9d1b2b;


}
.buttonLink:hover{
  background-color: #9d1b2b;
    border-radius: 15%;
  color: black;
    border: 2px solid white;

}

* {
    cursor: url("../Images/cursor2.png"), auto;
    /*cursor: crosshair;*/
    /*cursor: url(images/cursor.png) ,pointer;*/
}

li:hover {

    border-radius: 16%;
    opacity: 1 !important;


}
/*test*/
p{
    font-size: 350%;
    color: wheat;
}
.container{
    opacity: 0.8;
}