html, body, title, nav, div, li, ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
    cursor: url("../Images/cursor2.png"), auto;
}

body {
    background: url("../Images/backgroundSite.jpg") center fixed no-repeat;;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    background: gray;
    border: 2px solid black;
}
nav {
    border: 2px solid gray;
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
    }
.menu {
    height: 2rem;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
nav li > a {
    text-align: center;
    float: left;
    display: block;
}

.buttonLink {
    color: #9d1b2b;
    margin-left: 3%;
    width: 10rem;
}

.buttonLink:hover {
    border-radius: 8px;
    cursor: url("../Images/cursor2.png"), auto;
   }

#info {
    background-color: rgba(156, 27, 34, 0.26);
    color: #ffffff;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    border-radius: 3px;
    padding: 1%;
    border-radius: 12px;
    border: 2px solid white;
    margin-left: 2%;
    margin-right: 2%;


}
.container{

}
.responsive-slider{


    margin: 0 auto;
}

footer {
    color: white;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
}
a {
    cursor: url("../Images/cursor2.png"), auto;
}


@media screen and (min-width: 0px) and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 10rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.2rem;
    }
    #info p {
        font-size: 1.5rem;
    }
    body > div > div.responsive-slider > div.slides > ul > li > div > div > h2{
        display: none;
    }
    body > div > div.responsive-slider > div.slides > ul > li > div > div > div{
        display: none;
    }
    body > div > div.responsive-slider > div.slides > ul > li:nth-child(1) > div > div > div{
        display: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 12rem;
        width: 100%;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem;
    }
    #info p {
        font-size: 1.7rem;
    }
    body > div > div.responsive-slider > div.slides > ul > li > div > div > h2{
        display: none;
    }
    body > div > div.responsive-slider > div.slides > ul > li > div > div > div{
        display: none;
    }
    body > div > div.responsive-slider > div.slides > ul > li:nth-child(1) > div > div > div{
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 13rem;
        width: 100%;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 1.8rem;
    }
    body > div > div.responsive-slider > div.slides > ul > li > div > div > h2{
        margin-bottom: 6%;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    * {

        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.4rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    * {

        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
    * {

        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    * {

        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    * {

        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 1600px) {
    * {

        padding: 0;
    }
    .menu {
        height: 2rem;
        width: 100%;
        vertical-align: middle;
    }    
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 2rem;
    }
    footer #foot {
        font-size: 1.5rem;
    }
}