.responsive-slider {
    width: 60%;
    min-width: 55%;
    position: relative;
    margin-top: 2%;
    margin-bottom: 1%;
}

.responsive-slider .touch-surface {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

.responsive-slider .slides {
    position: relative;
    overflow: hidden;
}

.responsive-slider .slides ul {
    list-style-type: none;
    padding: 0;

    white-space: nowrap;
    font-size: 0;
}

.responsive-slider .slides ul li {
    display: inline-block;
    max-width: 100%;
}

.responsive-slider .slides ul li .slide-body {
    display: inline-block;
    position: relative;
    max-width: 100%;
    font-size: 14px;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    margin-right: 1.85rem;
}

.responsive-slider .slides ul li .slide-body img {
    max-width: 100%;
    padding-left: 1%;
}

@-moz-document url-prefix() {
    .responsive-slider .slides ul li .slide-body img {

        padding-left: 0%;
    }

    
}

.responsive-slider .slides ul li .slide-body .caption {
    position: absolute;
    color: #fff;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
}

.responsive-slider .slides ul li .slide-body .caption.header {
    top: 28%;
    left: 8%;
}

.responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 40px;
    font-weight: bold;

}

.responsive-slider .slides ul li .slide-body .caption.header h2 i {
    font-size: 40px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .responsive-slider {
        min-width: 90%;

    }

    .responsive-slider .slides ul li .slide-body .caption.header h2 {
        font-size: 25px;
    }

    .responsive-slider .slides ul li .slide-body .caption.header h2 i {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .responsive-slider {
        min-width: 90%;
        margin-right: 2%;
    }

    .responsive-slider .slides ul li .slide-body .caption.header h2 {
        font-size: 16px;
    }

    .responsive-slider .slides ul li .slide-body .caption.header h2 i {
        font-size: 14px;
    }
}

.responsive-slider .slides ul li .slide-body .caption.sub {
    bottom: -8px;
    right: -20px;
    font-weight: bold;
    font-size: 30px;

}

@media (min-width: 481px) and (max-width: 767px) {
    .responsive-slider {
        min-width: 90%;
    }

    .responsive-slider .slides ul li .slide-body .caption.sub {
        font-size: 11px;
        bottom: 0px;
        right: -10px;
    }
}

@media (max-width: 480px) {
    .responsive-slider .slides ul li .slide-body .caption.sub {
        font-size: 10px;
        bottom: 5px;
        right: 0;
    }
}

.responsive-slider .slider-control {
    position: absolute;
    font-size: 20px;
    color: #000;
    top: 40%;

    padding: 10px;
}

.responsive-slider .slider-control.left {
    left: 0;
    padding-left: 2px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: #7b1b29;
    margin-left: -2%;
    background-image: url(../slider/skull_closed.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.responsive-slider .slider-control.left:hover {
    transition: transform 1.5s;
    transform: rotate(90deg);
    text-decoration: none;
    background-image: url(../slider/skull_open.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: url(../Images/cursor2.png), auto;
}

.responsive-slider .slider-control.right {
    right: 0;
    padding-right: 2px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    text-decoration: none;
    font-family: 'Shadows Into Light';
    font-weight: bold;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: #7b1b29;
    margin-right: 0%;
    background-image: url(../slider/skull_closed.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@-moz-document url-prefix() {
    .responsive-slider .slider-control.right {
        right: -30px;

    }
}

.responsive-slider .slider-control.right:hover {
    transition: transform 1.5s;
    transform: rotate(-90deg);
    text-decoration: none;

    cursor: url(../Images/cursor2.png), auto;
    background-image: url(../slider/skull_open.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 480px) {
    .responsive-slider .slider-control.left,
    .responsive-slider .slider-control.right {
        display: none;
    }
}

.responsive-slider .pages {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

.responsive-slider .pages .page {
    display: inline-block;
    color: transparent;
    width: 5px;
    height: 5px;
    border: 3px solid #7b1b29;
    border-radius: 50%;
    opacity: 0.5;

}

.responsive-slider .pages .page.active {
    opacity: 1;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .responsive-slider .slides ul li .slide-body img {

        padding-left: 0%;
    }
    .responsive-slider .right.slider-control{
        right: -17px;

    }
}