html, body, title, nav, div, li, ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    cursor: url("../Images/cursor2.png"), auto;
}

body {
    background: url("../Images/backgroundSite.jpg") center fixed no-repeat;;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    background: gray;
    border: 2px solid black;
}
nav {
    border: 2px solid gray;
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
}
.menu {
    height: 2rem;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
nav li > a {
    text-align: center;
    float: left;
    display: block;
}

#yard-container {
    margin-top: 1%;
    border: 2px solid gray;
    background-color: rgba(211, 211, 211, 0.9);
    border-radius: 5px;
    height: auto;
}

.buttonLink {
    color: #9d1b2b;
    margin-left: 3%;
    width: 10rem;
}

.buttonLink:hover {
    border-radius: 8px;
    cursor: url("../Images/cursor2.png"), auto;
    transition: 1s;
}

.info {
    font-size: 1.9rem;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: black;
    font-weight: bold;
    text-align: center;
}

#rooms {
    margin-left: 3%;
}


.yardInfo {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    margin-left: 5%;
    display: inline-block;
    float: inherit;


    /*float: left;*/
}
body > div > div > div > div > div.col.span_1_of_3 > div.company_address > p:nth-child(6) > span{
    cursor: url("../Images/cursor2.png"),auto;
}

.yardInfo img{
    width:100% ;
}
.infotext{
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
}
footer {
    color: white;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
}
a {
    cursor: url("../Images/cursor2.png"), auto;
}


@media screen and (min-width: 0px) and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 10rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }

    #yardHeader {
        font-size: 1.6rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.2rem;
    }
    #info p {
        font-size: 1.4rem;
    }

    .yardInfo{
        display: block;
        width: 80%;
    }
    .yardInfo img{
        margin-left: 5%;
    }
    .info{
        color: #9d1b2b;
        font-weight: bold;
    }
    footer a {
        text-decoration: none;
        color: white;
    }

}

@media screen and (min-width: 321px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 12rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem;
    }

    #yardHeader {
        font-size: 1.8rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    #info p {
        font-size: 1.6rem;
    }

    .yardInfo{
        display: block;
        width: 80% ;
    }
    .yardInfo img{
        margin-left: 5%;
    }
    .info{
        color: #9d1b2b;
        font-weight: bold;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 13rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #yardHeader {
        font-size: 1.9rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    #info p {
        font-size: 1.7rem;
    }

    .yardInfo{
        display: block;
        width: 80% ;
    }
    .yardInfo img{
        margin-left: 5%;
    }
    .info{
        color: #9d1b2b;
        font-weight: bold;
    }
    footer a {
        text-decoration: none;
        color: white;
    }

}

@media screen and (min-width: 641px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }

    #yardHeader {
        font-size: 1.9rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.4rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 1.7rem;
    }
    .yardInfo{
        display: block;
        width: 60% ;
    }
    .yardInfo img{
        margin-left: 5%;
    }
    .info{
        color: #9d1b2b;
        font-weight: bold;
    }
    div.info_container {
        margin-left: 20%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }

}

@media screen and (min-width: 769px) and (max-width: 799px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    .menu a#big {
        width: 30%;
    }

    #yardHeader {
        font-size: 1.9rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    #info p {
        font-size: 1.7rem;
    }
    .yardInfo img{
        min-width: 70%;
    }
    p.infotext#third {
        font-size: 1.43rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 800px) and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }

    #yardHeader {
        font-size: 2rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.8rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 2rem;
    }
    .yardInfo img{
        min-width: 70%;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }

    #yardHeader {
        font-size: 2rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.8rem;
    }
    #info p {
        font-size: 2rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }

    #yardHeader {
        font-size: 2.1rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 1.9rem;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
    footer{
        margin-top: 2%;
    }
}

@media screen and (min-width: 1339px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }

    #yardHeader {
        font-size: 2.1rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 1.9rem;
    }
    div.yardInfo {
        vertical-align: top
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2rem;
        width: 100%;
        vertical-align: middle;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }

    #yardHeader {
        font-size: 2.4rem;
        text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
        color: #9d1b2b;
        text-align: center;
        font-weight: bold;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 2rem;
    }
    footer {
        font-size: 1.5rem;
        margin-top: 5.84%;
    }
    div.yardInfo {
        vertical-align: top
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}