body {
    background: url("../Images/backgroundSite.jpg") center fixed no-repeat;;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    font-family: 'Shadows Into Light';
    font-size: 62.50%;

}

html {
    cursor: url("../Images/cursor2.png"), auto;

}

#header {
    background: gray;

    border: 2px solid black;
    border-radius: .7em;
    background-image: url("../Images/manos.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

li {
    text-decoration: none;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0 1rem;
    list-style: none;
    position: relative;
    display: inline-table;
    margin-left: 4%;
    font-family: 'Shadows Into Light';
    font-size: 180%;
    font-weight: bold;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);

}

li:hover {
    border-radius: 16%;
    opacity: 1;
}

nav {
    border: 2px solid gray;
    padding-bottom: 1%;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
}

.buttonLink {
    text-decoration: none;
    color: #9d1b2b;
}

.buttonLink:hover {
    background-color: #9d1b2b;
    border-radius: 15%;
    color: black;
    border: 2px solid white;

}

#yardHeader {
    font-size: 2.5rem;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: white;
    text-align: center;
}

.info {
    font-size: 1.9rem;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
    color: white;
    text-align: center;
}

#rooms {
    margin-left: 3%;
}

.info_container{
      margin: 0 auto;
}
.yardInfo {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    margin-left: 5%;
    float: left;
}

.yardInfo img{
    width:100% ;
}
@media screen and (min-width: 0px) and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 10rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.2rem;
    }
    #info p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 12rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem;
    }
    #info p {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 13rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.4rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    .menu a#big {
        width: 30%;
    }
    #info p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
        padding-top: 2%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2.8rem;
        width: 100%;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }
    #info p {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }
    .menu {
        height: 2rem;
        width: 100%;
        vertical-align: middle;
    }
    .buttonLink {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    #info p {
        font-size: 2rem;
    }
    footer {
        margin-left: 30%;
    }
    footer #foot {
        font-size: 1.5rem;
    }
}





