html, body, title, nav, div, li, ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {

    cursor: url("../Images/cursor2.png"), auto;
}

body {
    background: url("../Images/backgroundSite.jpg") center fixed no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    background: gray;
    border: 2px solid black;
}

nav {
    border: 2px solid gray;
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.7);
}

.menu {
    height: 2rem;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

nav li > a {
    text-align: center;
    float: left;
    display: block;
}

.buttonLink {
    color: #9d1b2b;
    margin-left: 3%;
    width: 10rem;
}

.buttonLink:hover {
    border-radius: 8px;
    cursor: url("../Images/cursor2.png"), auto;
}

.filler {
    margin-top: 1%;
    border: 2px solid gray;
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    /*clear: both;*/
    height: auto;

}

h1 {
    color: #9d1b2b;
    text-align: center;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);

}

hr {
    width: 95%;
    height: 1px;
    margin-bottom: 5px;
}

.zombies {
    width: 15%;
    height: 30%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: 1%;
    float: left;
}

footer {

    color: white;
    text-shadow: 7px 5px 14px rgba(255, 76, 122, 1);
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 10rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.2rem;
    }

    #info p {
        font-size: 1.5rem;
    }

    .zombies {
        width: 60%;
        float: none;
        margin-left: 20%
    }

    .text {
        margin-left: 3%;
        margin-right: 1%;
    }

    body > div h2 {

        text-align: center;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 12rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem;
    }

    #info p {
        font-size: 1.7rem;
    }

    .zombies {
        min-width: 50%;
        max-width: 50%;
        float: none;
        margin-left: 30%;

    }

    .text {
        margin-left: 3%;
        margin-right: 1%;
    }

    body > div h2 {

        text-align: center;
    }

}

@media screen and (min-width: 481px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 13rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 100%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #info p {
        font-size: 1.8rem;
    }

    .zombies {
        min-width: 30%;
        max-width: 30%;

        max-width: 20%;
        width: 29%;
    }

    .text {
        margin-left: 3%;
        margin-right: 1%;
    }

    body > div h2 {

        text-align: center;
    }

}

@media screen and (min-width: 641px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
        padding-top: 2%;
    }

    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.4rem;
    }

    .menu a#big {
        width: 30%;
    }

    #info p {
        font-size: 1.8rem;
    }

    .zombies {
        min-width: 40%;
        float: left;

    }

}

@media screen and (min-width: 769px) and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
        margin-left: 13%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
        padding-top: 2%;
    }

    .menu a {
        width: 14%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    .menu a#big {
        width: 30%;
    }

    #info p {
        font-size: 2rem;
    }

    .zombies {
        min-width: 30%;
    }
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
        padding-top: 2%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #info p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }

    #info p {
        font-size: 2rem;
    }

}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2.8rem;
        width: 100%;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 2rem;
    }

    #info p {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        height: 2rem;
        width: 100%;
        vertical-align: middle;
    }

    .buttonLink {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .menu a {
        width: 20%;
        margin-left: 0;
        font-size: 1.6rem;
    }

    #info p {
        font-size: 2rem;
    }

    footer {
        margin-left: 30%;
    }

    footer #foot {
        font-size: 1.5rem;
    }
}



